.page {
  position: relative;
  max-width: 1280px;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'interregular', 'Helvetica Neue', Arial, sans-serif;
  color: #FFFFFF;
  background-color: #2A2C2F;
}

a:hover {
  opacity: 0.8;
}

@media (max-width: 1280px) {
  .page {
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 1024px) {
  .page {
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .page {
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .page {
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 320px) {
  .page {
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
}