.photo-grid {
  margin: 0;
  padding: 0;
  max-width: 1184px;
  min-height: 671px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
  margin-top: 92px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 92px;
}

@media screen and (max-width: 1280px) {
  .photo-grid {
    max-width: 1184px;
    min-height: 671px;
    justify-content: center;
    margin-right: 48px;
    margin-left: 48px;
    margin-top: 88px;
    margin-bottom: 92px;
    gap: 16px;
    align-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    min-height: 942px;
    justify-content: center;
    margin-right: 48px;
    margin-left: 48px;
    margin-top: 88px;
    margin-bottom: 92px;
    gap: 14px;
    align-content: center;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    min-height: 1664px;
    justify-content: center;
    margin-right: 24px;
    margin-left: 24px;
    margin-top: 88px;
    margin-bottom: 88px;
    gap: 16px;
    align-content: center;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
    min-height: 2724px;
    justify-content: center;
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 64px;
    margin-bottom: 64px;
    gap: 12px;
    align-content: center;
  }
}