.website__title {
	margin: 0;
	padding: 0;
	margin-bottom: 12px;
	max-width: 456px;
	position: relative;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	color: #AAAAAA;
}

@media screen and (max-width: 1280px) {
	.website__title {
		max-width: 456px;
		margin-bottom: 12px;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 170%;
		letter-spacing: 2px;
		color: #AAAAAA;
	}
}

@media screen and (max-width: 1024px) {
	.website__title {
		max-width: 456px;
		margin-bottom: 12px;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 12px;
		letter-spacing: 2px;
		color: #AAAAAA;
	}
}

@media screen and (max-width: 768px) {
	.website__title {
		max-width: 352px;
		margin-bottom: 12px;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 12px;
		letter-spacing: 2px;
		color: #AAAAAA;
	}
}

@media screen and (max-width: 767px) {
	.website__title {
		max-width: 288px;
		margin-bottom: 12px;
		margin-left: 5px;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 12px;
		letter-spacing: 2px;
		color: #AAAAAA;
	}
}

@media screen and (max-width: 320px) {
	.website__title {
		max-width: 288px;
		margin-bottom: 12px;
		margin-left: 5px;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 12px;
		letter-spacing: 2px;
		color: #AAAAAA;
	}
}