.cover__subtitle {
  padding: 0;
  margin: 0;
  max-width: 360px;
  margin-right: auto;
  margin-bottom: 245px;
  margin-left: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
  opacity: 1;
}

@media screen and (min-width: 1281px) {
  .cover__subtitle {
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 1280px) {
  .cover__subtitle {
    margin-bottom: 245px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    margin-bottom: 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin-bottom: 115px;
  }
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    margin-bottom: 33px;
    min-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}