.footer__link  {
	margin: 0;
	padding: 0;
	position: relative;
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	max-width: 106px;
	color: #FFFFFF;
}

@media screen and (max-width: 1280px) {
	.footer__link {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 18px;
		color: #FFFFFF;
	}
}

@media screen and (max-width: 1024px) {
	.footer__link {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 18px;
		color: #FFFFFF;
	}
}

@media screen and (max-width: 768px) {
	.footer__link {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 18px;
		color: #FFFFFF;
	}
}

@media screen and (max-width: 320px) {
	.footer__link {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 24px;
		color: #FFFFFF;
	}
}