.header__lang-link_active {
  margin: 0;
  padding: 0;
  margin-right: 0;
  position: relative;
  width: 18px;
  margin-top: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration-line: underline;
}

@media screen and (max-width: 1280px) {
  .header__lang-link_active {
    max-width: 30px;
    text-align: right;

  }
}

@media screen and (max-width: 1024px) {
  .header__lang-link_active {
    max-width: 30px;
    text-align: right;

  }
}

@media screen and (max-width: 768px) {
  .header__lang-link_active {
    max-width: 30px;
    text-align: right;

  }
}

@media screen and (max-width: 320px) {
  .header__lang-link_active {
    max-width: 22px;
    margin-top: 14px;
    font-size: 18px;
    line-height: 20px;
    text-align: right;
  }
}