.place__paragraph {
  margin: 0;
  padding: 0;
  position: relative;
  word-wrap: break-word;
  max-width: 484px;
  min-height: 145px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin-top: 26px;
  color: #FFFFFF;
}

.place__paragraph:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 1280px) {
  .place__paragraph {
    max-width: 484px;
    max-height: 348;
    margin-top: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
  }

  .place__paragraph:first-of-type {
    margin-top: 0;
  }
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
    max-height: 440;
    margin-top: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
  }

  .place__paragraph:first-of-type {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 352px;
    min-height: auto;
    margin-top: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
  }

  .place__paragraph:first-of-type {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    max-width: 288px;
    min-height: auto;
    margin-top: 25px;
    margin-left: 16px;
    ;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
  }

  .place__paragraph:first-of-type {
    margin-top: 0;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    max-width: 288px;
    min-height: auto;
    margin-top: 25px;
    margin-left: 16px;
    ;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
  }

  .place__paragraph:first-of-type {
    margin-top: 0;
  }
}