.cover__title {
  margin: 0;
  padding: 0;
  position: relative;
  margin: 245px 312px 32px 312px;
  max-width: 560px;
  min-height: 152px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
}

@media screen and (max-width: 1280px) {
  .cover__title {
    max-width: 560px;
    min-height: 152px;
    margin-top: 195px;
    margin-right: 312px;
    margin-bottom: 32px;
    margin-left: 312px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
  }
}

@media screen and (max-width: 1024px) {
  .cover__title {
    max-width: 560px;
    min-height: 152px;
    margin-top: 195px;
    margin-right: auto;
    margin-bottom: 32px;
    margin-left: auto;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    max-width: 560px;
    min-height: 152px;
    margin-top: 115px;
    margin-right: auto;
    margin-bottom: 32px;
    margin-left: auto;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 288px;
    min-height: 70px;
    margin-top: 33px;
    margin-right: auto;
    margin-bottom: 16px;
    margin-left: auto;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
  }
}

@media screen and(max-width: 320px) {
  .cover__title {
    max-width: 288px;
    min-height: 70px;
    margin-top: 33px;
    margin-right: auto;
    margin-bottom: 16px;
    margin-left: auto;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
  }
}