.lead__group {
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 95.23%;
  max-height: 26.17%;
  margin-top: 192.61px;
  margin-left: 23.27px;
  margin-bottom: 211.8px;
  margin-right: 23.64px;
  z-index: 1;
  object-fit: contain;
}

@media screen and (max-width: 1280px) {
  .lead__group {
    max-width: 95.23%;
    max-height: 26.17%;
    object-fit: cover;
    background-position: cover;
    margin-left: 23.27px;
    margin-right: 23.64px;
    margin-top: 154.21px;
    margin-bottom: 269.8px;
  }
}

@media screen and (max-width: 1024px) {
  .lead__group {
    max-width: 95.23%;
    max-height: 25.78%;
    object-fit: cover;
    background-position: cover;
    margin-left: 21.95px;
    margin-right: 22.3px;
    margin-top: 141.07px;
    margin-bottom: 268.9px;
  }
}

@media screen and (max-width: 768px) {
  .lead__group {
    max-width: 95.23%;
    max-height: 23.81%;
    object-fit: cover;
    background-position: cover;
    margin-left: 18.16px;
    margin-right: 18.45px;
    margin-top: 100.38px;
    margin-bottom: 226.33px;
  }
}

@media screen and (max-width: 767px) {
  .lead__group {
    max-width: 95.23%;
    max-height: 21.14%;
    object-fit: cover;
    background-position: cover;
    margin-left: 7.57px;
    margin-right: 7.69px;
    margin-top: 41.83px;
    margin-bottom: 107.14px;
  }
}

@media screen and (max-width: 320px) {
  .lead__group {
    max-width: 95.23%;
    max-height: 21.14%;
    object-fit: cover;
    background-position: cover;
    margin-left: 7.57px;
    margin-right: 7.69px;
    margin-top: 41.83px;
    margin-bottom: 107.14px;
  }
}